.connector {
  display: inline-block;
  position: relative;
}

.connector:before {
  display: block;
  position: absolute;
  width: 17px;
  height: 22px;
  content: "";
  bottom: -22px;
  background-color: theme("colors.info.DEFAULT");
  opacity: 10%;
  right: 46%;
}
